html {
	
}

body{
	width: 100%;
	background: url(img/light_honeycomb.png);
	font-size: 10px;
	font-family: Montserrat;
}

hr {
	color: white;
	background-color: white;
}

#wrapper {
	width: 800px;;
	height: 700px;
	margin: 0 auto;
	border: 5px solid #fff;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #e5e4e4;
}

.title span, .title img {
	float: left;
}

.title {
	color: #878585;
}

.title .quote {
	padding-left: 20px;
	font-size: 2em;
}

.title .quote h3 {
	color: white;
	margin-top: -15px;
	font-size: 1em;
	font-weight: 200;
}

.eventualNav {
	float: right;
}

.eventualNav li {
	list-style: none;
	padding: 10px 20px 20px 0;
	border-bottom: 2px solid #fff;
	width: 80px;
	opacity: .8;
}

.eventualNav li:first-child {
	margin-top: -10px;
}

.eventualNav li:hover {
	opacity: 1;
}

.eventualNav li a {
	float: right;
	text-decoration: none;
	color: #878585;
	font-weight: 300;
}

.work {
	width: 80%;
	height: 430px;
	overflow-y: scroll;
	margin: 20px auto;
	margin-top: 210px;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}


.work img {
	float: left;
	margin: 1em 1% 0 3%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 45%;
	height: auto;
	display: block;
}

.work a {
	display: block;
}


.description {
	position: relative;
	top: 20px;
	padding: 20px 40px;
	color: #878585;
}

.description a {
	text-decoration: none;
	color: #8394dd;
}

.bump {
	margin-top: 200px;
}

.blog h1 {font-weight:600px;}
.blog h2 {font-weight: 200px;}
.blog ol li {
	padding: 10px;
}
.blog strong {
	padding-bottom: 5px;
	color: #8394dd;
}
.blog #chart1 {
	float: right;
	padding: 10px;
	width: 35%;
	height: auto;
}
.blog #chart2 {
	width: 75%;
	height: auto;
	margin-left: 80px;
}


.hire form {
	margin: 0 auto;
	width: 459px;
}

.hire form h1 {
	font-variant: small-caps;
	background: ;
	color: white;
	font-size: 16pt;
	box-shadow: 0px 3px 5px #444;
	padding: 5px;
}

.hire label {
	display: block;
	margin-top: 10px;
	letter-spacing: 2px;
}

.hire input, .hire textarea {
	width:439px;
	height:17px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

.hire #txtMsg {
	height: 100px;
}

.hire #submit {
    width:127px;
    height:38px;
    border:none;
    margin-top:5px;
    cursor:pointer;
}

.hire #submit:hover {
	    opacity:0.9;
	}

footer {
	float: right;
	color: #878585;
	padding: 5px;
}

footer a {
	text-decoration: none;
	color: #8394dd;
}

.hidden {
	display: none;
}

a.selected {
	font-size: 20px;
	color: #8394dd;
}

.blog h2 {
	color: #8394dd;
}

.blogPost p, .blog h2 {
	padding: 0px 20px;
}